@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(49, 130, 244, 0.6);
    font-family: 'Gabarito', cursive;
    user-select: none;
    box-shadow: 5px 8px 18px #d0cece;
   
    
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}



#logo{
    height: 50px;
    width: 50px;
    position: relative;
    right: 15px;
}

#logo img{
    height: 100%;
    width: 100%;
}

nav ul li{
    list-style-type: none;
    font-size: 22px;
    padding: 10px;
}
nav ul li a{
   text-decoration: none;
   font-size: 22px;
   color: rgb(26, 184, 228);
}

nav ul li a:hover{
    text-decoration: none;
    font-size: 22px;
    color: rgb(71, 145, 165);
 }
 
#but{
    border: none;
    height: 33px;
    width: 120px;
    background-color: rgb(143, 202, 201);
    color: white;
    border-radius: 10px;
    font-size: 15px;
    position: relative;
    left: 20px;
}

#but:hover{
    background-color: rgb(106, 173, 172);
    cursor: pointer;
}

#home{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    min-height: 700px;
    user-select: none;
}

#mbut{
    height: 401px;
    width: 300px;
  

    box-shadow: 5px 10px 18px #9c9c9c;

}

.hel{
    height: 80px;
    width: 300px;
    border-bottom: 1px solid rgb(159, 158, 158);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hel:hover{
    background-color: #bbbbbb8a;
    cursor: pointer;
}

.hel h3{
    font-family: 'Gabarito', cursive;
    font-size: 21px;
    color: #3d3d3d;
    font-weight: 500;
}

footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   border-top: 1px solid rgba(197, 197, 197, 0.579);
    background-color: white;
}

#gyan{
    height: 80px;
    margin-top: 35px;
}

#foot{
    height: 120px;
    background-color: rgb(65, 154, 188);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 120px;
}

#foot h4{
    color: rgb(231, 231, 231);
    font-size: 18px;
    font-family: 'Gabarito', cursive;
    font-weight: 100;
}

#fac{
    height: 450px;
    width: 1100px;
    border: 2px solid black;
}